.textarea-component {
  width: 100%;
  padding: 12px 16px;
  font-size: 13px;
  box-sizing: border-box;
  border: 2px solid var(--secondary-color);
  border-radius: 10px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  resize: vertical;
  outline: none;
  transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.textarea-component:focus {
  border-color: var(--tertiary-color);
  border-color: var(--focus-border-color);
  box-shadow: 0 0 5px var(--focus-shadow-color);
  outline: none;
  background-color: white;
}

.textarea-component::placeholder {
  font-size: smaller;
}
