.centered-container {
  text-align: start;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.user-details-section {
  padding: 16px;
  box-sizing: border-box;
  border-right: 1px solid #ccc;
  overflow-y: auto;
  height: 100%;
}

.container-card {
  margin: auto;
  height: 65vh;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px;
}

.change-pass-btn {
  margin-top: 10px;
}
.faq-header {
  padding-left: 30px;
}

.faq-content {
  padding: 30px;
  padding-top: 0px;
  overflow-y: scroll;
  height: 40vh;
}

@media screen and (max-width: 480px) {
  .user-details-section {
    border-bottom: 1px solid #ccc;
    overflow-y: auto;
    border-right: none;
    height: 100%;
  }
  .container-card {
    flex-direction: column;

    height: 80vh;
  }
  .faq-content {
    height: 20vh;
    overflow-x: hidden;
    padding-top: 0px;
  }
}

.modal#add-faq-modal {
  width: 400px;
}

.faq-content::-webkit-scrollbar {
  width: 6px;
}

.faq-content::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 4px;
}

.faq-content::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

.faq-content::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.faq-content::-ms-scrollbar {
  width: 6px;
  background: transparent;
}

.faq-content::-ms-scrollbar-track {
  background: transparent;
}

.faq-content::-ms-scrollbar-thumb {
  background: #888;
}
